<!-- Topbar Start -->
<div class="container-fluid bg-primary py-3 d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <NavLink class="text-white pr-3" href="faq">FAQs</NavLink>
                    <span class="text-white">|</span>
                    <NavLink class="text-white px-3" href="help">Help</NavLink>
                    <span class="text-white">|</span>
                    <NavLink class="text-white pl-3" href="support">Support</NavLink>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-3" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-white px-3" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-white px-3" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-white px-3" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-white pl-3" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
            <NavLink href="" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-4 text-primary"><span class="text-secondary">i</span>CREAM</h1>
            </NavLink>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <NavLink href="" class="nav-item nav-link" Match="NavLinkMatch.All">Home</NavLink>
                    <NavLink href="about" class="nav-item nav-link">About</NavLink>
                    <NavLink href="product" class="nav-item nav-link">Product</NavLink>
                </div>
                <NavLink href="" class="navbar-brand mx-5 d-none d-lg-block">
                    <h1 class="m-0 display-4 text-primary"><span class="text-secondary">i</span>CREAM</h1>
                </NavLink>
                <div class="navbar-nav mr-auto py-0">
                    <NavLink href="service" class="nav-item nav-link">Service</NavLink>
                    <NavLink href="gallery" class="nav-item nav-link">Gallery</NavLink>
                    <NavLink href="contact" class="nav-item nav-link">Contact</NavLink>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->